.App {
   /* text-align: center; */
   font-family: Inter;
   overflow-x: hidden;
}

/* @media screen and (max-width: 768px) {
   .App {
      background-color: lightgreen;
   }
   .box {
      width: 100%;
   }
} */

.image_style {
   width: 88px;
   height: 88px;
   border-radius: 50%;
}

.my_btn {
   background-color: #eaecf0;
   width: 100%;
   margin-top: 24px;
   padding: 24px 32px 24px 32px;
}
.my_btn:hover {
   background-color: #eaecf0;
}
.icon_style {
   width: 20px;
   margin-right: 20px;
}
.icon_style2 {
   width: 100px;
}
.txt {
   font-size: 16px;
}
.__row {
   margin-top: 90px;
   border-top: 1px solid #eaecf0;
}
#btn__zuri,
#books,
#book__python,
#pitch,
#book__design,
#twitter {
   font-size: 18px;
}
